# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Internship 2k21\gpsApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
